<div class="backbtn">
    <a href="/users/posts" class="btn btn-default btn-lg">Back to posts</a>
</div>

<div class="blogComments">
    <div class="post">
        <h4>Title: {{posts.title}}</h4>
    </div>
    <div class="post" id="postWithComments">
        <h5>Entry: "{{posts.post_body}}"</h5>
    </div>
    <div class="post">
        <h4>Comments:</h4>
    </div>

    {{#each comments}}
        <div class="comment">
            <ul>
                <li>{{body}}&nbsp;&nbsp;<a href="{{post_id}}/comments/edit/{{commentID}}" data-toggle="modal" data-target="#basicModalEdit">Edit</a></li>
            </ul>
        </div>
        <input value="{{commentID}}" type="hidden" name="commentID"></input>
    {{else}}
        <br>
        <p class="empty">No comments on this log entry yet.</p>
    {{/each}}
</div>

<div class="modal fade modalPosition" id="basicModalEdit" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-content">
      {{> modal}}

<!-- modal.hbs here -->
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
    <a href="/logout" id="logButton" href="#" class="btn btn-default btn-lg">Log Out</a>
</div>
