<div class="blogPost">
    <div class="post">
        <h4>Title: {{comments.[0].title}}</h4>
    </div>
    <div class="post" id="postWithComments">
        <h5>Entry: "{{comments.[0].post_body}}"</h5>
    </div>
    <div class="post">
        <h4>Comments:</h4>
    </div>
    {{#each comments}}
        <div class="comment">
            <ul>
                <li>{{comment_body}}&nbsp;&nbsp;<a href="comments/{{id}}" data-toggle="modal" data-target="#basicModal">Edit</a></li>
            </ul>
        </div>
    {{else}}
        <br>
        <p class="empty">No comments on this log entry yet.</p>
    {{/each}}
</div>

<div class="modal fade modalPostion" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <h6 class="modal-title" id="myModalLabel">Comment on Post {{id}}</h6>
        </div>
<!-- modal.hbs here -->
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom">
    <a href="/logout" id="logButton" href="#" class="btn btn-default btn-lg">Log Out</a>
</div>
